ion-content {
    --background : #1e1e1e; /* Fondo oscuro para el modal */
    --color: #ffffff; /* Color del texto en blanco */
    padding: 1rem;
  }
  
  /* Estilos del encabezado (header) */
  ion-header {
    //--background: #007bff;  /* Azul para el fondo del encabezado */
    --color: #ffffff; /* Texto blanco en el encabezado */
  }